<!-- <ion-header>
    <ion-toolbar>
        <ion-title>Intro</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-slides pager="true">
        <ion-slide class="bordas">
            <ion-grid>
                <ion-row>
                    <ion-col size=12 class="direito">
                        <ion-button (click)="nextHome()" fill="outline">Skip</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="meio" size="12">
                        <img src="assets/Image/slide-1.png" />
                    </ion-col>
                    <ion-col>
                        Meu novo App feito em Ionic
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide class="bordas">
            <ion-grid>
                <ion-row>
                    <ion-col size=12 class="direito">
                        <ion-button (click)="nextHome()" fill="outline">Skip</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="meio" size="12">
                        <img src="assets/Image/slide-2.png" />
                    </ion-col>
                    <ion-col>
                        Muitas funções que irá te ajudar no dia dia
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide class="bordas">
            <ion-grid>
                <ion-row>
                    <ion-col size=12 class="direito">
                        <ion-button (click)="nextHome()" fill="outline">Skip</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="meio" size="12">
                        <img src="assets/Image/slide-3.png" />
                    </ion-col>
                    <ion-col>
                        Integrado com a internet

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide class="bordas">
            <ion-grid>
                <ion-row>
                    <ion-col class="fim" size="12">
                        <img src="assets/Image/slide-4.png" />
                    </ion-col>
                    <ion-col>
                        O app irá te dar uma nova experiencia.
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size=12>
                        <ion-button (click)="nextHome()" fill="outline">Veja mais</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>