<!-- <ion-header>
    <ion-toolbar>
        <ion-title>Intro</ion-title>
    </ion-toolbar>
</ion-header>
 -->
<ion-content fullscreen="true">
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <ion-grid>
                <ion-row class="text-center">
                    <ion-col size="12">
                        <img src="assets/images/slide-1.png" />
                    </ion-col>
                    <ion-col size="12">
                        <h1>Primeira etapa</h1>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-row class="text-center">
                <ion-col size="12">
                    <img src="assets/images/slide-2.png">
                </ion-col>
                <ion-col size="12">
                    <h1>Segunda etapa</h1>
                </ion-col>
            </ion-row>
            
        </ion-slide>
        <ion-slide>
            <ion-row class="text-center">
                <ion-col size="12">
                    <img src="assets/images/slide-3.png">
                </ion-col>
                <ion-col size="12">
                    <h1>Terceira etapa</h1>
                </ion-col>
            </ion-row>
        </ion-slide>
        <ion-slide>
            <ion-row class="text-center">
                <ion-col size="12">
                    <img src="assets/images/slide-4.png">
                </ion-col>
                <ion-col size="12">
                    <h1>Quarta etapa</h1>
                </ion-col>
                <ion-col size="12">
                    <ion-button [routerLink]="['/tabs']">Ir ao sistema</ion-button>
                </ion-col>
            </ion-row>
        </ion-slide>

    </ion-slides>
</ion-content>