<!-- <ion-header>
    <ion-toolbar>
        <ion-title>Intro</ion-title>
    </ion-toolbar>
</ion-header>
 -->
<ion-content fullscreen="true">
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="assets/images/slide-1.png">
            <h1>Primeira etapa</h1>
        </ion-slide>
        <ion-slide>
            <img src="assets/images/slide-2.png">

            <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide>
            <img src="assets/images/slide-3.png">

            <h1>Slide 3</h1>
        </ion-slide>
        <ion-slide>
            <img src="assets/images/slide-4.png">

            <h1>Slide 4</h1>
        </ion-slide>

    </ion-slides>
</ion-content>