<ion-header>
    <ion-toolbar>
        <ion-title>Feed</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h1></h1>
    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="assets/images/avatar.jpg">
                </ion-avatar>
                <ion-card-title class="feed-title">{{ nome_usuario }}</ion-card-title>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <img src="assets/images/montanha.jpg">
            <ion-card-subtitle class="feed-subtitle">Primeira tela</ion-card-subtitle>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
</ion-content>