<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>feed {{nome_usuario}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card *ngFor="let item of filmes">
        <ion-item>
            <!-- <ion-avatar item-start *ngIf="item.poster_path">
                <img (src)=item.poster_path>
            </ion-avatar> -->
            <ion-card-header>
                <ion-card-title class="titulo">{{item.title}}</ion-card-title>
                <ion-card-subtitle>{{item.release_date| date:'full'}}</ion-card-subtitle>
                <!-- <ion-card-subtitle>{{item.release_date| date: "EEEE d MMMM y":"pt-br"}}</ion-card-subtitle> -->
            </ion-card-header>
        </ion-item>
        <img [src]="verposter(item.backdrop_path)" [hidden]="!temImagem(item.poster_path)" />
        <ion-card-header>
            <ion-card-subtitle>{{item.original_title}}</ion-card-subtitle>
            <!-- <ion-card-title>{{item.Titulo}}</ion-card-title> -->
        </ion-card-header>
        <ion-card-content>
            {{item.overview}}
        </ion-card-content>
    </ion-card>
</ion-content>